*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: blue;
    margin: 0;
}

#container{
    height: 100%;
    background-color: gold;
}



#nav-bar{
    background-color: blueviolet;
    height: 10%;
    width: 100%;
    display: flex;
}

#nav-esquerda{
    background-color: #ffffff;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 86%;
}

#titulo{
    font-size: 60px;
    color: #3fa8a9;
}

#nav-direita{
    background-color: #ffffff;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.crud{
    font-size: 45px;
    color: black;
    margin: 11px 0px 0px 0px;
    font-family: arial;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;

}

#cadastrar{
    background-color: #107a7c;
    background-image: url(backCad.png);
    background-size: 100%;
    height: 90%;
    width: 100%;
}

#cad-cima{
    height: 13%;
    width: 100%;
    display: flex;

}

#cad-centro{
    height: 74%;
    width: 100%;
    display: flex;
}

#centro-esquerda{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#script{
    background-color: #ffff;
    height: 90%;
    width: 75%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#user{
    height: 10%;
    width: 60%;
    border-radius: 50px;
    border: 2px solid #3fa8a9; /* Borda cinza fina */
    box-shadow: none; /* Remover sombra */
    outline: none; /* Remover contorno ao focar */
    padding: 15px; /* Adicionar preenchimento para melhor aparência */
    background-color: #ffffff; /* Adicionar cor de fundo para contraste */
    font-size: 20px; /* Ajustar tamanho da fonte */
    text-align: center;
}

#password{
    height: 10%;
    width: 60%;
    border-radius: 50px;
    border: 2px solid #3fa8a9; /* Borda cinza fina */
    box-shadow: none; /* Remover sombra */
    outline: none; /* Remover contorno ao focar */
    padding: 15px; /* Adicionar preenchimento para melhor aparência */
    background-color: #ffffff; /* Adicionar cor de fundo para contraste */
    font-size: 20px; /* Ajustar tamanho da fonte */
    text-align: center;
    margin: 5px;
}

#confirmpassword{
    height: 10%;
    width: 60%;
    border-radius: 50px;
    border: 2px solid #3fa8a9; /* Borda cinza fina */
    box-shadow: none; /* Remover sombra */
    outline: none; /* Remover contorno ao focar */
    padding: 15px; /* Adicionar preenchimento para melhor aparência */
    background-color: #ffffff; /* Adicionar cor de fundo para contraste */
    font-size: 20px; /* Ajustar tamanho da fonte */
    text-align: center;
    
}

#confirmcad{
        height: 10%;
        width: 60%;
        border-radius: 50px;
        border: 2px solid #3fa8a9; /* Borda cinza fina */
        box-shadow: none; /* Remover sombra */
        outline: none; /* Remover contorno ao focar */
        padding: 15px; /* Adicionar preenchimento para melhor aparência */
        background-color: #3fa8a9; /* Adicionar cor de fundo para contraste */
        font-size: 20px; /* Ajustar tamanho da fonte */
        margin: 5px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
}

#anonimo{
    height: 10%;
    width: 60%;
    border-radius: 50px;
    border: 2px solid #7f7f7f; /* Borda cinza fina */
    box-shadow: none; /* Remover sombra */
    outline: none; /* Remover contorno ao focar */
    padding: 15px; /* Adicionar preenchimento para melhor aparência */
    background-color: #7f7f7f; /* Adicionar cor de fundo para contraste */
    font-size: 20px; /* Ajustar tamanho da fonte */
    margin: 5px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 20px;

}





#logop{
    height: 15%;
    width: 20%;
    margin: 10px;

}

#centro-direita{
    height: 100%;
    width: 70%;
}



#cad-baixo{
    height: 13%;
    width: 100%;
}

.link{
    color: dodgerblue;
    cursor: pointer;
    font-size: 14px;
}   

.linha{
    color: gray;
    text-decoration: line-through;
}

#ou{
    color: gray;
    margin: 5px;
}

button:hover{
    color: #3fa8a9;
    transition: 0.2s;
}

#editar{
    height: 90%;
    width: 100%;
    background-color: aqua;
}


#listar{
    height: 90%;
    width: 100%;
    background-color: red;
    display: flex;
}

#fundoListar{
    height: 100%;
    width: 100%;
    background-color: #3fa8a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meioListar{
    height: 90%;
    width: 70%;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#esqListar{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#esqCima{
    height: 15%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}

#esqBaixo{
    height: 85%;
    width: 100%;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
}

#dirListar{
    height: 100%;
    width: 50%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#dirCima{
    height: 15%;
    width: 100%;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
}

#dirBaixo{
    height: 85%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}








